.footer {
    background: #ffffff;
    padding: 30px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer__container-uno {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__ban{
    display: flex;
    align-items: center;
}

.footer__logo {
    display: flex;
    width: 65px;
    height: auto;
    /* display: inline-block; */
}

.footer__text{
    display: flex;
    margin-left: 1rem;
}

.footer__container-redes{
    justify-content: space-around;
    margin: 1rem 0;
}

.footer__redes {
    display: flex;
}

.footer__redes_items{
    display: flex;
    margin-left: 1.2rem;
}

.footer__redes__iconos {
    width: 50px;
}

/* .footer__container-link{

} */



.footer__container-link{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
}

.footer__nav__link {
    display: flex;
    width: auto;
    margin: 0 1rem;
}

.footer_links-formato{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 0.9rem;
    text-decoration: none;
    margin-top: 1.2rem;
}

.footer_links-formato:hover{
    color: #c78c19;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .footer__container-uno{
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .footer__redes_items{
        margin: 0 1rem;
    }

    .footer__container-link{
        justify-content: center;
    }

    .footer__nav__link {
        display: flex;
        width: auto;
        margin: 0 0.5rem;
    }
}