.footer {
    /* background: repeating-linear-gradient(
        var(--primer-color),
        var(--background-footer)
        ); */
    /* background: linear-gradient( 120deg, 
        var(--primer-color),
        var(--segundo-color),
        var(--tercer-color)
        ); */

    background: #252424;
    padding: 30px;
}

.texto__footer, .copyright__link{
    color: var(--fuente-footer-letra);
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer__container__banner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__banner{
    display: flex;
    align-items: center;
}

.footer__banner-logo {
    display: flex;
    width: 65px;
    height: auto;
    /* display: inline-block; */
}

.footer__banner__text{
    display: flex;
    margin-left: 1rem;
}

.footer__container__redes{
    justify-content: space-around;
    margin: 1rem 0;
}

.footer__redes {
    display: flex;
}

.footer__redes-items{
    display: flex;
    margin-left: 1.2rem;
}

.footer__redes-iconos {
    width: 50px;
}

.footer__container__link{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
}

.footer__nav__link {
    display: flex;
    width: auto;
    margin: 0 1rem;
}

.footer__links-formato{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    text-decoration: none;
    margin-top: 1.2rem;
}

.footer__links-formato:hover{
    color: #c78c19;
    text-decoration: underline;
}

.copyright{
    display: flex;
    padding-top: 1rem;
    font-weight: 700;
}

.copyright__link {
    font-weight: 700;
}

.copyright__link:hover{
    color: #d43d44;
    font-weight: bold;
}

.copyright__tamanio{
    font-size: 0.6rem;
}

@media screen and (max-width: 600px) {
    .footer__container__banner{
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .footer__redes-items{
        margin: 0 1rem;
    }

    .footer__container__link{
        justify-content: center;
    }
    
    .footer__nav{
        align-items: center;
        justify-content: space-between;
    }

    .footer__nav__link {
        display: flex;
        width: auto;
        margin: 0 0.5rem;
    }
}
/* 
@media screen and (max-width: 425px){

} */