.titulos {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0;
    align-items: center;
}

.titulos__medios {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0;
}
.container {
    margin: 0 2rem;
    /* usar solo para los que no tienen flex */
}

.texto-parrafo{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.interline {
    line-height: 1.5rem;
    padding-bottom: 1.2rem;
}

.espacio-fondo__flex {
    margin-bottom: 2rem;
}

.boton {
    text-align: center;
    display: block;
    width: 70%;
    min-width: 220px;
    max-width: 350px;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border:  1px solid red;
    border-radius: 5px;
}