:root{
    /* extra colores */

    --extra-letras-link:#c78c19;

    --background-fondo-uno: #d3dafb;

    /* colores log mcp */

    --primer-color: #44a1dc;
    --segundo-color: #714c9a;
    --tercer-color: #b34778;
    --cuarto-color: #d43e4a;

    --paleta-rojo-oscuro: #8a2a2a;
    --paleta-rojo: #B72E2E; 

    --extra-uno-color: #8cccfc;
    --extra-dos-color: #a3d2ef;
    --extra-tres-color: #8060a3;
    --extra-cuatro-color: #bc5483;
    --extra-cinco-color: #bb535b;

    /* header */

    /* --texto-link-nav: #1e1515; */
    --texto-link-nav: #fefefe;

    /* footer */
    --background-footer: #774c9b ;
    --fuente-footer-letra: #e8dede;

/* - Borda */
    --border-cabecera-mobile: #103D4A;

/* - Botónes */
    --boton-estilo: #0c0c0c;
    --boton-hover: #fefefe;

/* - Fuente */
    --fuente-ceniza-claro: #666666;
    --fuente-ceniza-oscuro: #4F4C4C;

/* - Planes */
    --planes-card-start: #035A76;
    --planes-card-ultra: #690F8E;
    --planes-card-mega: #B00024;

/* - Enlace */
    --fuente-enlace: #0006FF;

    --montserrat: 'Montserrat', sans-serif;
    --open-sans: 'Open Sans', sans-serif;

    --comic-sans: "Comic Sans MS", "Comic Sans", cursive;

}

@font-face {
    font-family: 'Comic Sans MS';
    src: url("comic-sans-ms/comici.ttf");
}

.titulos {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    padding: 1rem 0;
    align-items: center;
    font-family: var(--comic-sans);
}

.titulos__medios {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0;
    font-family: var(--comic-sans);
}
.container {
    padding: 0 2rem;
    /* usar solo para los que no tienen flex */
}

.texto-parrafo{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: var(--comic-sans);
}

.interline {
    line-height: 1.5rem;
    padding-bottom: 1.2rem;
}

.espacio-fondo__flex {
    margin-bottom: 2rem;
}

.boton {
    text-align: center;
    display: block;
    width: 70%;
    min-width: 220px;
    max-width: 350px;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border:  1px solid red;
    border-radius: 5px;
}

/* estilos de texto */

.alinear-textos{
    text-align: center;
}