body{
    font-family: 'Montserrat', sans-serif;;
    background: var(--background-fondo-uno);
}

.principal{
    padding: 1em 0;
    background: linear-gradient(
        var(--extra-uno-color)
        ,var(--background-fondo-uno));
}

.imagen__banner {
    height: calc(100vh - 150px);
    width: 100%;
    background: url(../imagenes/portada.jpg) no-repeat center/cover ;
}

.principal__titulo {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* areas / de trabajo MCP */

.areas__imagen__uno {
    background: url(../imagenes/galeria/fin_usac_xela.jpg) no-repeat center/cover;
}

.areas__imagen__dos {
    background: url(../imagenes/galeria/aniversario_reformita.jpg) no-repeat center/cover;
}

.areas__imagen__tres {
    background: url(../imagenes/galeria/comunidad.jpg) no-repeat center/cover;
}

.areas__container__items .alinear-textos{
    text-align: center;
}

/* Actividades */

.actividades {
    padding-bottom: 2rem;
}

.actividades__container, .areas__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.actividades__descripcion__general{
    text-align: center;
}

/*  tambien estan areas container (seccion anterior) */

.actividades__container__items, .areas__container__items {
    width: 30%;
    min-width: 330px;
    /* para que aplique el wrap */
    height: 350px;
    /* max-width: 400px; */

    justify-content: space-around;
    margin: 1rem 0;
    
    display: grid;
    grid-template-areas:
    "titulo"
    "imagen"
    "descripcion";
    grid-template-columns: auto;
    grid-template-rows: 60px 210px 50px;
    padding: 0 1rem;
    text-align: center;
}

.actividades__titulos, .areas__titulos {
    grid-area: titulo;
    height: 60px;
    margin: 0 1rem;
    max-width: 300px;
}

.actividades__items__imagenes, .areas__items__imagenes {
    grid-area: imagen;
    width: 100%;
    height: 200px;
}

.actividades__imagen__uno {
    background: url(../imagenes/virtual.jpeg) no-repeat center/cover;
}

.actividades__imagen__dos {
    background: url(../imagenes/galeria/iglesia_ciudadreal.jpg) no-repeat center/cover;
}

.actividades__imagen__tres {
    background: url(../imagenes/galeria/fin_usac_uno.jpg) no-repeat center/cover;
}

.actividades__descripcion, .areas__descripcion {
    width: 340px;
    grid-area: descripcion;
    text-align: justify;
}

/* MCP */

.mcp__container {
    width: 100%;
    background:  linear-gradient(var(--background-fondo-uno),var(--extra-uno-color));
}

.mcp__container__somos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mcp__somos__items{
    flex-shrink: 0;
    width: 25%;
    min-width: 250px;
    height: 200px;
    padding: 0.5rem 2rem;
}

.item__lema {
    text-align: center;
}

/* contacto */

.contacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 2rem;
    /* var(--extra-uno-color) */
    background: linear-gradient(var(--extra-uno-color),var(--primer-color));
}

.contacto__descripcion{
    text-align: center;
}

.contacto__boton {
    color: blue;
    border-color: blue;
    margin-top: 1.25rem;
    text-decoration: none;
}

.contacto__boton:hover {
    color: var(--boton-rojo);
    border-color: var(--boton-rojo);
}

@media screen and (max-width: 600px) {
    .imagen__banner {
        width: 100%;
        height: calc(100vh - 400px);
    }
}

@media screen and (max-width: 400px) {
    .imagen__banner {
        width: 100%;
        height: calc(100vh - 500px);
    }
}

@media screen and (max-width: 375px) {
    .actividades__container__items, .areas__container__items {
        min-width: 280px;
        max-width: 300px;
        margin: 0;
        padding: 0;
    }

    .actividades__descripcion, .areas__descripcion {
        width: 300px;
        grid-area: descripcion;
        text-align: justify;
    }
}
