body{
    font-family: 'Montserrat', sans-serif;;
    background: var(--background-fondo-uno) no-repeat center/cover;
}

.main {
    /* background: linear-gradient( 60deg,
        var(--primer-color),
        var(--segundo-color),
        var(--tercer-color),
        
        var(--extra-cuatro-color),
        var(--extra-tres-color),
        var(--primer-color),
        var(--extra-uno-color)
        ); */

    background: var(--extra-cuatro-color);
    background: url(../imagenes/cielo_algodon.jpg) no-repeat center/cover ;

    /* background:  linear-gradient(var(--background-fondo-uno),var(--extra-uno-color)); */
    /* background: linear-gradient(var(--extra-uno-color),var(--primer-color)); */
}

.container__imagen__banner{
    padding: 0 10%;
    justify-content: center;
    text-align: right;
    align-items: center;

    background: black;
    background-size: cover;
}

.imagen__banner {
    position: relative;
    height: calc(100vh - 150px);
    width: 100%;
    background: url(../imagenes/portada.jpg) no-repeat center/cover ;
}

.imagen__banner--estilo{
    /* border-top: 2px solid #000000;
    padding-bottom: 1.5rem; */
}


.principal__titulo {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    padding: 1rem 0;
}

/* areas / de trabajo MCP */

.areas__container{
    padding-bottom: 1rem;
}

.areas__imagen__uno {
    background: url(../imagenes/galeria/fin_usac_xela.jpg) no-repeat center/cover;
}

.areas__imagen__dos {
    background: url(../imagenes/galeria/aniversario_reformita.jpg) no-repeat center/cover;
}

.areas__imagen__tres {
    background: url(../imagenes/galeria/comunidad.jpg) no-repeat center/cover;
}

.areas__item .alinear-textos{
    text-align: center;
}

/* Actividades */

.actividades {
    padding-bottom: 2rem;
}

.actividades__container, .areas__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.actividades__descripcion {
    text-align: center;
}

/*  tambien estan areas container (seccion anterior) */

.actividades__item, .areas__item {
    width: 30%;
    min-width: 330px;

    justify-content: space-around;
    margin: 1rem 0;
    
    display: grid;
    grid-template-areas:
    "titulo"
    "imagen"
    "descripcion";
    grid-template-columns: auto;
    grid-template-rows: 80px 210px 100px;
    padding: 0 1rem;
    text-align: center;
}

.actividades__item__titulo, .areas__item__titulo {
    grid-area: titulo;
    padding: 0 1rem;
}

.actividades__item__imagenes, .areas__item__imagenes {
    grid-area: imagen;
    width: 100%;
    height: 200px;
}

.actividades__imagen__uno {
    background: url(../imagenes/virtual.jpeg) no-repeat center/cover;
}

.actividades__imagen__dos {
    background: url(../imagenes/galeria/iglesia_ciudadreal.jpg) no-repeat center/cover;
}

.actividades__imagen__tres {
    background: url(../imagenes/galeria/fin_usac_uno.jpg) no-repeat center/cover;
}

.actividades__item__descripcion, .areas__item__descripcion {
    width: 340px;
    grid-area: descripcion;
    text-align: justify;
}

/* contacto */

.contacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 2rem;
    /* var(--extra-uno-color) */
}

.contacto__descripcion{
    text-align: center;
}

.contacto__boton {
    color: var(--boton-estilo);
    border-color: var(--boton-estilo);
    margin-top: 1.25rem;
    text-decoration: none;
}

.contacto__boton:hover {
    color: var(--boton-hover);
    border-color: var(--boton-hover);
}

.institucional {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: black;
    text-align: center;
    justify-content: center;

    padding-top: 2rem;
    padding-bottom: 3.5rem;

}

.institucional__titulo {
    text-align: center;
    margin-bottom: 2rem;
}

.institucional__contenido{
    width: 80%;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.institucional__informaciones{
    width: 40%;
}

.institucional__descripcion {
    margin-bottom: 2rem;
}

.institucional__direccion {
    font-size: 1.5rem;
    line-height: normal;

    margin-bottom: 2rem;
}

.institucional__contacto {
    font-size: 1.2rem;
    line-height: 1.8;

    margin-top: 2rem;
}

.institucional__contacto-telefono {
    line-height: normal;
    color: black;
    text-decoration: none;
}

.institucional__contacto-email {
    color: black;
    text-decoration: underline;
    display: block;
}

.institucional__video__mcp{
    display: flex;
    width: 50%;
    max-height: 315px;
}

.institucional__video__mcp__frame{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .imagen__banner, .imagen__banner--acercaDe {
        width: 100%;
        height: calc(100vh - 400px);
    }

    .institucional {
        display: flex;
        flex-direction: column;
    }

    .institucional__contenido{
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .institucional__descripcion, .institucional__direccion{
        text-align: center;
    }

    .institucional__informaciones{
        width: 100%;
    }

    .institucional__video__mcp{
        display: flex;
        width: 100%;
        min-height: 315px;  
        max-width: 70%;
    }

}

@media screen and (max-width: 430px) {
    .imagen__banner, .imagen__banner--acercaDe {
        width: 100%;
        height: calc(100vh - 500px);
    }

    .institucional__video__mcp{
        min-height: 315px;
    }
}

@media screen and (max-width: 320px) {

    .main{
        padding: 0;
    }

    .actividades__item, .areas__item {
        min-width: 280px;
        max-width: 300px;
        margin-bottom: 1rem;
        padding: 0;
    }

    .actividades__item__descripcion, .areas__item__descripcion {
        width: 300px;
        grid-area: descripcion;
        text-align: justify;
    }

    .institucional__contacto-email {
        font-size: 1.1rem;
    }

    .institucional__video__mcp{
        min-height: 215px;
    }

}
