
.imagen__banner--index {
    background: url(../../imagenes/portada.jpg) no-repeat center/cover ;

    height: 50vw;
    min-height: calc(50vw - 380px);
    max-height: calc(100vh - 158px);
    position: relative;
    width: 100%;
    
}

.imagen__banner--estilo{
    /* border-top: 2px solid #000000;
    padding-bottom: 1.5rem; */
}

/* 768 px ---------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {

}

/* 430 px ---------------------------------------------------------------------------- */
@media screen and (max-width: 430px) {

}

/* 320 px ---------------------------------------------------------------------------- */
@media screen and (max-width: 320px) {

}