.imagen__banner--recursos{
    background: url(../imagenes/galeria/fin_veterinaria.jpg)
    no-repeat
    center/cover;
    
    height: calc(44vw);
    max-height: calc(100vh - 158px);
    min-height: calc(100vh - 480px);
    width: 100%;
}

.cabecera__container{
    
}

.recursos__container{
    display: flex;
    justify-content: center;
}

.tabla__uno__subtitulo{
    margin: 0;
}

.recursos__tabla__uno, .recursos__tabla__uno th, .recursos__tabla__uno td {
    border: 0.1rem solid black;
    font-family: var(--comic-sans);
}

.recursos__tabla__uno th{
    padding: 1rem;
}

.recursos__tabla__uno td{
    width: 35vw;
    min-width: 100px;
    padding: 1rem;
}

.recursos__tabla__uno a{
    text-decoration: none;
    color: var(--fuente-ceniza-oscuro);
}

.recursos__tabla__uno a:hover{
    text-decoration: underline;
    color: rgb(69, 50, 154);
}

.calendarizacionMcp__documento__limit{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.calendarizacionMcp__documento{
    border: 0.1rem;
    border-style: solid;
    border-color: rgb(29, 28, 28);

    color: rgb(45, 45, 161);
    font-size: calc(4vw + 1rem);
    margin-top: 1.5rem;
    width: 60vw;
}

.calendarizacion__container{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.calendarizacion__documentos{
    padding: 0 2rem;
    margin: 1rem 0;
}

.calendarizacion__documento__uno{
    max-width: 920px;
    width: 80vw;
    height: 102vw;
    max-height: 1050px;
}



/* 768 px ---------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {

}

/* 430 px ---------------------------------------------------------------------------- */
@media screen and (max-width: 430px) {

}

/* 320 px ---------------------------------------------------------------------------- */
@media screen and (max-width: 320px) {

}